<div class="form-group">
    <label for="name">ID</label>
    <input type="text" class="form-control" name="name" ng-model="formData.id"></input>
</div>

<div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" name="name" ng-model="formData.name"></input>
</div>

<div class="form-group">
    <label for="name">Age</label>
    <input type="text" class="form-control" name="name" ng-model="formData.age"></input>
</div>

<div class="form-group">
    <label for="email">Email</label>
    <input type="text" class="form-control" name="email" ng-model="formData.email"></input>
</div>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <button ui-sref="form.symptoms" class="btn btn-block btn-info" ng-disabled="!formData.id || !formData.name || !formData.age || !formData.email">
    Next Step <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </button>
</div>
</div>
